th {
    text-align: inherit;
    font-size: 15px;
    font-weight: 500;
    color: #9a9a9a;
    background: lightgray;
    padding: 10px;
}

td {
    padding: 10px;
}

table {
    width: 100%;
}

tr {
    vertical-align: baseline;
}